html, body {
  height: 100%;
}

.border {
  border: 5px solid red;
}

div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

div.flex-page {
  margin-top: 2em;
  display: flex;
}

div.flex-page-inner {
  
}

div.flex-page-spacer {
  flex-grow: 1;
}

div.flex-spacer {
  flex-grow: 1;
}

div#signup-inner input {
  margin-bottom: 0.2em;
}

a.form-error {
  color: red;
  font-size: 0.9em;
}

div.header {
  display: flex;
}

div#header-account {
  padding-right: 1em;
}

div#header-account a {
  cursor: pointer;
}