<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WI-demystiFIed</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://wi.demystified.co.nz/index.css">
    <link rel="stylesheet" href="static/css/index.css">
  </head>
  <body ng-controller="auth">
    <div class="header">
      <!-- <div class="header-inner"> -->
        <div>
          <h1>
            <span class="highlight">Wi</span>-demysti<span class="highlight">Fi</span>ed
          </h1>
        </div>
        <div class="flex-spacer"></div>
        <div id="header-account">
          <span ng-hide="user.loggedin">
            <a ng-click="gotoPage('/login')">Login</a>
            <a> | </a>
            <a ng-click="gotoPage('/signup')">Sign up </a>
          </span>
          <span ng-show="user.loggedin">
            <a ng-click="logout()">Logout</a>
          </span>
        </div>
      <!-- </div>   -->
      <!-- <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Your Site</a>
      </div> -->
    </div>

    <div ng-show="checkPage('/signup')" class="flex-page">
      <div class="flex-page-spacer"></div>
      <div id="flex-page-inner">
        <h2>Signup</h2>
        <a class="form-error">DON'T USE A USERNAME OR PASSWORD YOU USE ELSEWHERE.<br>THIS IS NOT SECURE. IT IS A DEMO</a>
        <form ng-submit="signup()" class="pure-form">
          <input type="text" placeholder="Name" ng-model="supname"><br>
          <input type="text" placeholder="Username" ng-model="supusername"><br>
          <input type="password" placeholder="Password" ng-model="suppw"><br>
          <button type="submit" class="pure-button">Submit</button><br>
          <div ng-show="error.supname"><a class="form-error">Please enter a name</a></div>
          <div ng-show="error.supusername"><a class="form-error">Please enter a username</a></div>
          <div ng-show="error.suppw"><a class="form-error">Please enter a password</a></div>
          <div ng-show="error.supmisc"><a class="form-error">There was a server error</a></div>
          <div ng-show="error.usernametaken"><a class="form-error">Username already taken</a></div>
          
        </form>
      </div>
      <div class="flex-page-spacer"></div>
    </div>

    <div ng-show="checkPage('/login')" class="flex-page">
      <div class="flex-page-spacer"></div>
      <div id="flex-page-inner">
        <h2>Login</h2>
        <form ng-submit="login()" class="pure-form">
          <Input type="text" ng-model="loguser" placeholder="Username"><br>
          <Input type="password" ng-model="logpw" placeholder="Password"><br>
          <button type="submit" class="pure-button">Submit</button><br>
          <a class="form-error" ng-show="error.login">Invalid login</a><br>
        </form>
      </div>
      <div class="flex-page-spacer"></div>
    </div>

    <div ng-show="checkPage('/')" class="flex-page">
      <div class="flex-page-spacer"></div>
      <div id="flex-page-inner">
        <form ng-submit="savedata()">
          <h1>Save and view your data</h1>
          <textarea name="" id="" cols="30" rows="10" ng-model="user.data"></textarea><br>
          <button type="submit">Save data</button>
        </form>
        <a class="form-error" ng-show="error.datasaved">Data saved</a><br>        
        <a class="form-error" ng-show="error.datanot">Data not saved</a><br>        
      </div>
      <div class="flex-page-spacer"></div>
    </div>

    <div class="footer">
      <div class="footer-inner">
        <img class="pure-img" src="https://wi.demystified.co.nz/logos.png">      
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>